{% extends 'master.html' %}
{% load cart_tag %}
{% block body %}

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
					{% for item in chart_items %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="{{item.items.image.url}}" style="height:20px;width:auto;" alt=""></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{item.items.name}}</a></h4>

							</td>
							<td class="cart_price">
								<p>৳{{item.items.price}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href="{% url 'app:increase_cart' item.items.id %}"> + </a> 
									<input class="cart_quantity_input" type="text" name="quantity" value="{{item.quentity}}" autocomplete="off" size="2">
									<a class="cart_quantity_down" href="{% url 'app:decrease_cart' item.items.id %}"> - </a>
								</div>
							</td> 
							<td class="cart_total">
								<p class="cart_total_price">৳{{item.get_total}}</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" href="{% url 'app:decrease_cart' item.items.id %}"><i class="fa fa-times"></i></a>
							</td>
						</tr>
					<a href="{% url 'cart_clear' %}">Clear Cart</a>
						{% endfor %}

					</tbody>
					<tfoot>
						<td>

						</td>
						<td>

						</td>
						<td>
							<hr>
							<h4>Sub Total </h4>
						</td>
						<td>

						</td>
						<td>
							<hr>
							<h3> {{total_price}}</h3>
						</td>
					</tfoot>
				</table>
			</div>
		<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="float:right"> Check Out</button>-->
		<a class="btn btn-primary" href="{% url 'app:checkout' %}" >Checkout</a>

		</div>
	</section> <!--/#cart_items-->
<br>








{% endblock %}